@import '../_constants';

.simple-query-form {

  h3 {
    font-weight: normal;
  }

  .matches {
    .form-field-select {
      margin: 0px 8px;
    }
  }

  .negations {
    padding-top: 8px;
  }

  .query-term-list {

    .query-term {
      margin-bottom: 10px;

      .MuiFormControl-marginNormal {
        margin: 0px;
      }
      .delete {
        display: inline-block;
        width: 33px;
        vertical-align: bottom;
        padding-bottom: 13px;
      }
      .term {
        display: inline-block;
        width: 250px;
      }
      .conjunction {
        display: inline-block;
        text-transform: capitalize;
        color: $material-grey500;
        font-size: 14px;
        vertical-align: bottom;
        padding: 18px 15px;
        font-weight: bold;
      }
      .icon-button-add {
        padding-left: 13px;
        padding-bottom: 13px;
        vertical-align: bottom;
      }
    }

  }

  .query-preview {
    padding-top: 8px;
    code {
      display: block;
      margin: 14px 0px;
      padding: 10px;
    }

  }

}
